<%= form_for(@beer) do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% @beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <% brand_array = Brand.all.map { |brand| [brand.name, brand.id] } %>
  <div class="field">
    <%= f.label :brand %><br>
    <select>
      <%= options_for_select(brand_array, @beer.brand_id) %>
    </select>
  </div>
  <div class="field">
    <%= f.label :style %><br>
    <%= f.text_field :style %>
  </div>
  <div class="field">
    <%= f.label :abv %><br>
    <%= f.text_field :abv %>
  </div>
  <div class="field">
    <%= f.label :ibu %><br>
    <%= f.text_field :ibu %>
  </div>
  <div class="field">
    <%= f.label :beer_advocate_average %><br>
    <%= f.text_field :beer_advocate_average %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
