<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "AJC | Half-assed portfolio" %></title>

  <!--APPLICATION STYLES -->
  <%= stylesheet_link_tag    "application" %>

  <!--APPLICATION JS -->
  <%= javascript_include_tag "application" %>

  <!--MODERNIZR JS -->
  <%= javascript_include_tag "vendor/modernizr" %>

  <style type="text/css">
  html, body {
  margin:0;
  padding:0;
  overflow:hidden;
  }
  </style>

  <!--META -->
  <%= csrf_meta_tags %>
</head>

<body style="overflow:hidden;">

<%= yield %>
</body>
</html>